.input {
  border-radius: 40px;
  border: 2px solid gray;
}
.main-div {
  background-color: #1e2833;
  border-radius: 20px;
}
.button {
  background-color: #fe4066;
  border: none;
}
.button:hover {
  background-color: #fe4066;
  opacity: 0.9;
}
