<div class="flex justify-content-center  w-100">
  <div class="card main-div text-white px-5 py-4">
    <div class="d-flex justify-content-center" style="font-size: 50px">
      <i class="fa-solid fa-lock pb-4" style="color: #fe4066"></i>
    </div>
    <form (ngSubmit)="onSubmit()" [formGroup]="loginForm">
      <h5>Please Sign In Your Account</h5>
      <div class="row">
        <div class="col-12">
          <!------------- UserName -------------->
          <input
            pInputText
            class="form-control input"
            placeholder="User Name"
            formControlName="userName"
            #data
          />
          <span
            class="text-danger"
            style="font-size: 12px"
            *ngIf="userName && userName.invalid && userName.touched"
          >
            *This field is reqiured
          </span>
          <br />
        </div>
      </div>
      <!------------- Password -------------->

      <div class="row">
        <div class="col-12">
          <input
            pInputText
            type="password"
            class="form-control input"
            placeholder="Password"
            formControlName="password"
            #lname
          />
          <span
            class="text-danger"
            style="font-size: 12px"
            *ngIf="password && password.invalid && password.touched"
          >
            *This field is reqiured
          </span>
        </div>
      </div>
      <br />

      <!-------------- Submit Button----------- -->
      <div class="row">
        <div class="col-12">
          <button
            pButton
            type="submit"
            label="Sign In"
            class="btn btn-block button"
            (click)="sendData(data)"
          ></button>
          <span class="text-danger" style="font-size: 13px">{{ msg }}</span>
        </div>
      </div>
    </form>
  </div>
</div>
