<div class="flex justify-content-center align-self-center">
  <div class="card bg-dark text-white p-4">
    <form (ngSubmit)="onSubmit()" [formGroup]="loginForm">
      <h5>Please Sign in your account</h5>
      <div class="row">
        <div class="col-12">
          <!------------- UserName -------------->
          <input
            pInputText
            class="form-control"
            placeholder="User Name"
            formControlName="userName"
            #data
          />
          <span
            class="text-danger"
            style="font-size: 12px"
            *ngIf="userName && userName.invalid && userName.touched"
          >
            *This field is reqiured
          </span>
          <br />
        </div>
      </div>
      <!------------- Password -------------->

      <div class="row">
        <div class="col-12">
          <input
            pInputText
            type="password"
            class="form-control"
            placeholder="Password"
            formControlName="password"
            #lname
          />
          <span
            class="text-danger"
            style="font-size: 12px"
            *ngIf="password && password.invalid && password.touched"
          >
            *This field is reqiured
          </span>
        </div>
      </div>
      <br />

      <!-------------- Submit Button----------- -->
      <div class="row">
        <div class="col-12">
          <button
            pButton
            type="submit"
            label="Sign In"
            class="btn btn-primary btn-block"
            (click)="sendData(data)"
          ></button>
          <span style="color: red">{{ msg }}</span>
        </div>
      </div>
    </form>
  </div>
</div>
