.sidebar {
  height: 100vh;
  width: 100%;
  position: sticky;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
}
.my_class1 {
  /* width: 180px; */
  transition: 1s;
}
.my_class2 {
  width: 29%;
  transition: 1s;
}
.sidebar .parent {
  padding: 15px 0px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: flex;
  transition: 0.3s;
}
.parent {
  cursor: pointer;
  color: #fff;
}
.parent:hover {
  color: #fff;
}
.sidebar .closebtn {
  /* position: absolute; */
  /* top: 0; */
  /* right: 25px; */
  font-size: 36px;
  /* margin-left: 50px; */
  text-align: end;
  /* margin-right: 20px; */
}

.openbtn {
  /* font-size: 20px; */
  cursor: pointer;
  background-color: #03153a;
  color: white;
  border: none;
  cursor: pointer;
}

i {
  padding: 0px 7px;
  color: #fff;
  cursor: pointer;
}

h4 {
  color: #fff;
}
span {
  cursor: pointer;
}
span:hover {
  color: #fff;
}
i:hover {
  color: #fff;
}

@media screen and (max-height: 450px) {
  .sidebar {
    padding-top: 15px;
  }
  .sidebar a {
    font-size: 18px;
  }
}
