<!-- <p-sidebar [(visible)]="sidebarVisible" styleClass="w-12rem">
    <h5 class="">Employee Dashboard</h5>
    <div class=" position-sticky sidebar">
        <div class="list-group list-group-flush">
            <a href="#" class="list-group-item list-group-item-action py-2 ripple active" aria-current="true">
                <i class="pi pi-microsoft mr-2"></i><span>Dashboard</span>
            </a>
            <a href="#" class="list-group-item list-group-item-action ">
                <i class="pi pi-user mr-2"></i><span>Login</span>
            </a>
            <a href="#" class="list-group-item list-group-item-action py-2"><i
                    class="pi pi-lock mr-2"></i><span>Password</span></a>
        </div>
    </div>

</p-sidebar>
<p-button (click)="sidebarVisible = true" class="p-button-secondary"><i class="fa-solid fa-bars"></i></p-button> -->


<div id="mySidebar" class="sidebar" [ngClass]=" toggle ? 'my_class1' : 'my_class2'">
    <div class="test"> <button class="openbtn" (click)="openNav()"><i class="pi pi-angle-double-right"
                style="color: #F59E0B; font-weight: 800; font-size: 30px;"></i></button>

    </div>
    <div class="mt-6 ">
        <div class="parent mt-3"> <i class="pi pi-user" style="font-size: 2rem"></i><span class="ml-1">Employee</span>
        </div>
        <div class="parent"><i class="pi pi-cog" style="font-size: 2rem"></i><span class="ml-1">Services</span></div>
        <div class="parent"><i class="pi pi-send" style="font-size: 2rem"></i><span class="ml-1">Clients</span></div>
        <div class="parent"><i class="pi pi-phone" style="font-size: 2rem"></i><span class="ml-1">Contact</span></div>
    </div>
</div>