/* .max-container {
  max-width: 1265px;
  margin: 0 auto;
  background-color: #000;
} */
.main1 {
  background-color: #d9e4dd;
  border: none;
  /* transition: transform 1s ease-in-out; */
}
i {
  cursor: pointer;
}
.searchbox {
  margin-left: 16px;
}
.icons {
  margin: 0 10px;
}
.hButton {
  margin: 0 5px;
}
.navStyle {
  background-color: #020c22;
  border-bottom: solid 2px #f59e0b;
}
.heading {
  font-family: 'Metrophobic', sans-serif;
  padding-top: 20px !important;
}
.logoutHover {
  cursor: pointer;
  text-decoration: none;
}
.logoutHover:hover {
  color: #f59e0b !important;
}
.heading {
  font-size: 1.5em;
  color: #43425d;
  font-weight: 400;
}
.main {
  width: 100%;
  /* margin-left: 10px; */
}