<!-- <-- Navbar -->
<nav class="navbar navbar-expand-lg navStyle">
  <!-- Container wrapper -->
  <div class="container-fluid">
    <!-- Collapsible wrapper -->
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <!-- Navbar brand -->
      <div class="navbar-brand mt-2 mt-lg-0">
        <img src="assets/logo.png" height="40" alt="Logo" loading="lazy" />
      </div>
      <div class="heading mt-2">
        <h4 style="color: #F59E0B; font-weight: bold;">Employee Managment System</h4>
      </div>

      <!-- Left links -->
      <!-- <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="#">Dashboard</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Team</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Projects</a>
        </li>
      </ul> -->
      <!-- Left links -->
    </div>
    <!-- Collapsible wrapper -->

    <!-- Right elements -->
    <div class="d-flex align-items-center ">
      <a class="text-white logoutHover" routerLink="/login">
        Logout <i class="pi pi-power-off" style="font-size: 12px;"></i>
      </a>
    </div>
    <!-- Right elements -->
  </div>
  <!-- Container wrapper -->
</nav>
<!-- Navbar -->
<!-- <div class="max-container main">
  <! ---------------Search Box------------- -->
<div class="col-12 ">
  <h4 class="ml-3 font-weight-bold">Employee List</h4>
  <div class="d-flex justify-content-start">
    <div class="mt-2 searchbox">
      <span class="p-input-icon-right">
        <i class="pi pi-search"></i>
        <input type="text" class="pInputtext-lg form-control" pInputText placeholder="Search" [(ngModel)]="value3"
          (input)="search.filterGlobal($any($event.target).value, 'contains')" />
      </span>
    </div>

    <!---------- DialogeBox ------------->
    <div class="ml-auto p-2">
      <p-button (click)="showBasicDialog()" styleClass="p-button-warning mr-2" icon="pi pi-user-plus"
        label="Add New"></p-button>
      <p-dialog [header]="dialogLabel" [(visible)]="visible" [style]="{ width: '40vw' }">


        <!-------------- Form  ------------------>

        <form [formGroup]="dialogForm" (ngSubmit)="displayResponsive(dialogForm)">

          <!-------------- Name Input ------------------>

          <div class="form-outline mb-4">
            <label class="form-label font-weight-bold" for="form3Example1cg">
              Your Name<span class="text-danger">*</span>
            </label>
            <input type="text" id="form3Example1cg" class="form-control form-control-lg" formControlName="Name" />
            <div class="alert alert-danger" style="font-size: 12px;" *ngIf="Name && Name.invalid && Name.touched">
              *This field is reqiured
            </div>
          </div>
          <!-------------- Mobile Number Input ------------------>
          <div class="form-outline mb-4">
            <label class="form-label font-weight-bold" for="form3Example3cg">
              Mobile Number<span class="text-danger">*</span>
            </label>
            <input type="tel" id="form3Example3cg" class="form-control form-control-lg" formControlName="mobile" />
            <div class="alert alert-danger" style="font-size: 12px;" *ngIf="mobile && mobile.invalid && mobile.touched">
              *This field is reqiured
            </div>
          </div>
          <!-------------- Address Input ------------------>
          <div class="form-outline mb-4">
            <label class="form-label font-weight-bold" for="form3Example4cg">
              Address<span class="text-danger">*</span>
            </label>
            <input type="text" id="form3Example4cg" class="form-control form-control-lg" formControlName="Address" />
            <div class="alert alert-danger" style="font-size: 12px;"
              *ngIf="Address && Address.invalid && Address.touched">
              *This field is reqiured
            </div>
          </div>
          <!-------------- Age Input ------------------>
          <div class="form-outline mb-4">
            <label class="form-label font-weight-bold" for="form3Example4cdg">
              Age<span class="text-danger">*</span>
            </label>
            <input type="text" id="form3Example4cdg" class="form-control form-control-lg" formControlName="Age" />
            <div class="alert alert-danger" style="font-size: 12px;" *ngIf="Age && Age.invalid && Age.touched">
              *This field is reqiured
            </div>
            <br />
            <div class="alert alert-danger" style="font-size: 12px;" *ngIf="Age.errors?.['maxlength']">
              *Enter Valid Age
            </div>
          </div>
          <!------------- Form Button -------------->
          <p-button type="submit" [disabled]="dialogForm.invalid" class="hButton" *ngIf="saveBtn"
            label="Save"></p-button>
          <p-button label="Update" [disabled]="dialogForm.invalid" class="hButton" (click)="update()" *ngIf="updateBtn"
            styleClass="p-button-primary ml-1 "></p-button>
          <p-button label="Close" (onClick)="resetValue()" (click)="visible = false "
            styleClass="p-button-secondary"></p-button>

        </form>
        <!------------------ Dialog Button ----------------->
      </p-dialog>
    </div>
  </div>
  <!------------------- Table----------- -->
  <div class="col">
    <p-table #search [value]="empList" styleClass="p-datatable-gridlines p-datatable-striped" [paginator]="true"
      [rows]="10" [rowsPerPageOptions]="[10, 15, 20]" [globalFilterFields]="['Name', 'mobile', 'Address', 'Age']">
      <ng-template pTemplate="header">
        <tr>
          <th pSortableColumn="Name">Name<p-sortIcon field="code"></p-sortIcon></th>
          <th>Mobile</th>
          <th pSortableColumn="Address">Address<p-sortIcon field="code"></p-sortIcon></th>
          <th pSortableColumn="Age">Age<p-sortIcon field="code"></p-sortIcon></th>
          <th>Actions</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-empList>
        <tr class="font-weight-bold">
          <td>{{ empList.Name }}</td>
          <td>{{ empList.mobile }}</td>
          <td>{{ empList.Address }}</td>
          <td>{{ empList.Age + ' Years' }}</td>
          <td>
            <i class="pi pi-pencil icons" pTooltip="Edit" tooltipPosition="top" (click)="onEdit(empList.id)"
              style="color: #28a745; font-size: 20px;"></i>
            <p-confirmDialog [style]="{width: '30vw'}"></p-confirmDialog>
            <i class="pi pi-trash icons" pTool tip="Delete" tooltipPosition="top" (click)="onDelete(empList.id)"
              style="color: #dc3545; font-size: 20px;"></i>
            <p-messages [(value)]="messages" [enableService]="false" [closable]="false"></p-messages>

            <!-- <div class="card flex justify-content-center gap-2">
              <p-button (click)="confirm" icon="pi pi-times" label="Delete" class="p-button-danger"></p-button>
            </div> -->
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="emptymessage">
        <tr>
          <td colspan="7">No Employee Found.</td>
        </tr>
      </ng-template>
      <tr></tr>
    </p-table>
  </div>
</div>